<app-header></app-header>
<div class="sectione d-flex espace espace"  id="apropos"  >

    <div class="content">
  
       <div>
         <h1 class="roboto">Notre plateforme</h1>
         <br>
         <p class="tafsir">
          Notre plateforme vise à améliorer la traçabilité et la sécurité des données dans la chaîne de valeur agricole des dattes en utilisant la technologie blockchain. Grâce à l'utilisation de registres immuables et sécurisés, notre plateforme permet aux parties prenantes de suivre la provenance des dattes depuis leur production jusqu'à leur commercialisation, tout en réduisant les risques de fraude ou de falsification des informations.</p>       
       </div>
       <div>
        <h1 class="roboto">Notre approche</h1>
        <br>
        <p class="tafsir">
        Nous avons adopté une approche basée sur la collaboration et la coopération entre les différents acteurs de la chaîne de valeur des dattes, tels que les producteurs, les transporteurs et les exportateurs. Notre système de rémunération basé sur le score encourage la collaboration entre les parties prenantes en récompensant les bonnes pratiques et les performances élevées.</p>
        </div>
        
      </div></div>
       <div class="sectione d-flex espace espace"  id="apropos"  >
  
        <div class="content profile-info">
          <div class="personal-info" class="mm">
            <h1  class="roboto">Les avantages de notre plateforme</h1>
            <br>
              <ul class="mtafsir">
                <li>Traçabilité renforcée : Grâce à notre technologie blockchain, les parties prenantes peuvent suivre la provenance des dattes et s'assurer de leur qualité et de leur authenticité.</li>
                <li>Sécurité accrue : Les registres immuables et sécurisés de notre plateforme garantissent la sécurité des données et réduisent les risques de fraude ou de falsification des informations.</li>
                <li>Compétitivité améliorée : Notre système de rémunération basé sur le score encourage la collaboration et la coopération entre les parties prenantes, ce qui peut améliorer l'efficacité opérationnelle, réduire les coûts de transaction et augmenter la confiance et la transparence entre les acteurs de la chaîne de valeur.</li>
                <li>Valeur ajoutée accrue : Notre plateforme vise à augmenter la valeur ajoutée des produits agricoles et à améliorer leur compétitivité sur les marchés nationaux et internationaux.</li>
              </ul>
              </div>
          <div>
            <img src="./assets/farmer.jpg" class="img-thumbnaile" alt="Image description">
          </div>
          </div></div>
          <div class="sectione d-flex espace"  id="apropos"  >
  
            <div class="content profile-info">
              <div class="personal-info"> 
                <img src="./assets/vision.jpg" class="img-thumbnailes" alt="Image description">
              </div>
              <div  class="mm">
                <h1 class="roboto">Notre vision</h1>
                <br>
                <p class="mtafsir">
                  Notre vision est de devenir une plateforme de référence dans la chaîne de valeur agricole des dattes en Tunisie, en offrant des solutions innovantes pour améliorer la traçabilité, la sécurité et la compétitivité des produits agricoles. Nous sommes déterminés à travailler en étroite collaboration avec les parties prenantes pour atteindre cet objectif et contribuer au développement durable de l'industrie des dattes en Tunisie.</p>
  
                  </div>
         
              </div></div>
  
  