body{
  margin:0 0 0 0; padding:0; 
    height: 2035px;
    background-color: #EBF4DF;
   
  }
  .section{
    height:1000px;  display: flex; align-items:center;
     justify-content: center;
     flex-direction: column; 
     /* background-color: #C1DF9F; */
    padding:100px 0;
   
  }
  .sectione{
    height: 1000px;  display: flex; align-items:center;
     justify-content: center;
     flex-direction: column; 
     /* background-color: #C1DF9F; */
     padding:100px 0;
     background-color: #EBF4DF;
  }
  .ajnab {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    background-image: url('src/assets/ajnab.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center; 
  }
  
  
  .card {width:250px; height:250px; margin:20px 100px;  text-align: center;font-family: Roboto;}
  
  .flip-card-inner {
    background-color: #EBF4DF;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }



  .section:nth-child(1){
    padding-top: 50px;
  }

  .dragging {
    opacity: 0.5;
  }
  .espace{
    margin:0 0 0 0;
  }

  .back1{
    background-image: url('src\assets\home.jpg');
    background-repeat: no-repeat; background-size: cover;
    background-position: center;
    display: flex; justify-content: center; align-items: center;position:relative;
  }
.img-thumbnail{
  height: 300px;
  width: 450px;
}
 
#input1:hover + #label{
  transform: translateY(50px);
  background-color: red;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  transform: rotateY(0deg); text-align: center; display:flex; align-items: center;
  justify-content:center /* Set the initial state of the front element */
}
.flip-card-back {
  transform: rotateY(180deg);  display:flex; align-items: center;
  justify-content:center; text-align: justify;   /* Set the initial state of the back element */
}
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg); /* Flip the card by rotating the inner element 180 degrees on the Y axis */
}.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  text-align: center;
  width: 80%;
  line-height: 1.5;
}


.drag-element {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  cursor: move;
  user-select: none;
}

#apropos{
  font-size:25px; color: #333;text-align:center;
  font-family: 'Roboto', cursive; flex-direction: column;
 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1), 0px -8px 15px rgba(0, 0, 0, 0.1); 
  height:1000px;
}

#E-Hawiya{
  font-size:30px; color: #333;text-align:center;
  font-family: 'Roboto', cursive; flex-direction: column;
 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1), 0px -8px 15px rgba(0, 0, 0, 0.1); 
  height:1000px;
}
.writing-effect {
  margin-left: 70px;
  font-family: Roboto;
  overflow: hidden;
  border-right: 0.15em solid #333;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}
.pres{
  margin:40px 70px 40px 70px;
  font-family: Roboto;
  line-height: 3;
  text-align: justify;
}
.pres-m{
  font-family: Roboto;
  line-height: 3;
  text-align: justify;
}
.pres-mm{
  font-family:Roboto;
  line-height: 2;
  margin:5px 10px 5px 10px;
  text-align: justify;
}
.roboto{
  font-family: Roboto;
}
.baccard{
  background-image: url(src/assets/home3.jpg); 
  background-size:100%;
  background-position: center;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}
.image {
  width: 100%; height:100%;
  background-color: #EBF4DF;

  background-size: cover;
  background-position: center;
}

#section3 div:hover {
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

#section3 div {
  height: 450px; width:600px;
  flex-basis: 50%;
  box-sizing: border-box;
  /* background-color: rgba(255, 255, 0, 0.322); */
  background-color: #EBF4DF;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateX(20deg) rotateY(10deg);
  transition: all 0.3s ease-in-out;
}
.section3container{
  display: flex; justify-content: center;
  /* width:100%;height: 1000px; */
}
#section3{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
    gap: 10px; 
  }

.containere {
  position: absolute; 
  display: flex;top: 0;
  flex-direction: column; background-color: transparent;
  box-shadow: 0 0 10px;
  padding: 20px;backdrop-filter: blur(35px);height: 500px;width: 1650px;
  margin-top: 10%;
  border-radius: 2%;
  left: 500px;
}
h6{
  line-height: 2;
  font-size: large;
  font-family:Roboto; 
  font-size: 22px;
}
h1{
  font-family:Roboto;
}
.img-thumbnail {
  border: 2px solid black;
  box-shadow: 0 0 10px;
  max-width: 100%;
  height: auto;
  }
  .img-thumbnaile {
    border: 2px solid black;
    box-shadow: 0 0 10px;
    max-width: 650px;
    height: 700px;
    margin-right: 100px;
    }
    .img-thumbnailes {
      border: 2px solid black;
      box-shadow: 0 0 10px;
      max-width: 650px;
      height: 700px;
      margin-left: 100px;
      }
      .Get{
        background-image: url(src/assets/home2.jpg);
        background-size:100%;
        background-position: center;
      }
  .profile-info { 
  text-align: justify;
  position: relative;
  display: flex; 
  align-items: center;
  }
  .personal-infoo {
  width: 70%; 
  margin:100px 70px 40px 70px;
  }
  .personal-info{
    width: 70%;
  }
 .sizee{
height:500px;
 }

  .slideshow-container {
    position: relative;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1), 0px -8px 15px rgba(0, 0, 0, 0.1); 
    height: 865px;
    

  }
  .sécurite{
    background-image: url(src/assets/sécurite.jpg);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
  }
  .cost{
    background-image: url(src/assets/cost.jpg);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center; 
  }
  .integrite{
    background-image: url(src/assets/integrite.jpg);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
  }
  .sec p{
    margin:15px 15px 30px 50px;margin-right: 70px;
    text-align: justify;color: white;
  }
  .sec{
    backdrop-filter: blur(15px);background-color: transparent;color: white;width: 100%;height: 100%;
  }
  .sec1{
    color: white;backdrop-filter: blur(15px);
  }
  .slideshow-container :nth-child(1){
    display: block;
   }
  /* Slides */
  .mySlides {
    display: none;
    /* padding: 80px; */
    text-align: center;
    
  height:100%; 
  }
  
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color:black;
    background-color: rgba(255, 191, 0, 0.218);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #fdd804b5;
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #6fee91;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */


  /* #security{
    background-image:  url('src/assets/security.jpg') ;
    
  background-position: center;
  color: blue;
  position: relative; 


  }
  #security p{ position:absolute; height:100% ;width:100%; left:0;
     top:38px; backdrop-filter: opacity(0.4); color:rgb(80, 213, 102); font-size:36px;
    mix-blend-mode: difference;} */

 .mySlides h1{
background-color:#f3e5ab; border-radius: 0 0 15px 25px;
font-size:60px; font-family:Arial, Helvetica, sans-serif; 
 }
 .mySlides p{
  font-family: Roboto; font-size: 40px;
 }
  
  


