 <!-- <app-header></app-header> -->
<!-- page1
<div [ngClass]="{'isColored':'Color','isShaped':'shape'}">this is a div</div>
<div [ngClass]="{'highlight': isHighlighted, 'small-text': isSmall}">
  This is some text
</div>
<button (click)="toggleHighlight()">Toggle highlight</button>
<button (click)="toggleSize()">Toggle size</button> -->

<!-- <div class="row d-flex justify-content-center">
  <button (click)="goToHeader()">go</button>
</div>
<ul>
<li *ngFor="let per of pers">{{per}}</li>
</ul>
<div [ngSwitch]='color'>
  <div *ngSwitchCase="'red'">You chose red</div>
  <div *ngSwitchCase="'blue'">You chose blue</div>
  <div *ngSwitchCase="'green'">You chose green</div>
  <div *ngSwitchDefault>Invalid color</div>
</div>
<div *ngIf="valid">you are valid</div>
<div *ngIf="!valid">you are now not valid sorry</div>
<button class="btn btn-primary" (click)="notvalid()">not valid</button> -->
<!-- <app-header [message]="parentMessage"></app-header>
<app-header (messageSent)="receiveMessage($event)"></app-header>
    <p>{{ receivedMessage }}</p> -->
<router-outlet></router-outlet>




